@page
@model PremierLeaguePredictions.Pages.PredictionsModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/PLPredsStyleSheet.css"/>
</head>

<style>
    .bullseye{
        color:limegreen;
    }

    .wrong{
        color: red;
    }
</style>

<h1>Premier League predictions</h1>

<table class="table">
    <tr>
        <th>Team</th>
        <th>Actual Position</th>
        <th><a asp-page="/Individual" asp-route-person="ss">SS diff</a></th>
        <th><a asp-page="/Individual" asp-route-person="lm">LM diff</a></th>
        <th><a asp-page="/Individual" asp-route-person="jl">JL diff</a></th>
        <th><a asp-page="/Individual" asp-route-person="dd">DD diff</a></th>
    </tr>

    @foreach (var item in Model.predictions_table)
    {
        <tr>
            <td>
                @Html.DisplayTextFor((modelItem=>item.Team))
            </td>
            <td>
                @Html.DisplayTextFor((modelItem=>item.Actual))
            </td>
            <td>
                <span class="@(item.ss_diff == 0 ? "bullseye" : "normal") @(item.ss_diff > 9 ? "wrong" : "normal")">@item.ss_diff</span>
            </td>
            <td>
                <span class="@(item.lm_diff == 0 ? "bullseye" : "normal") @(item.lm_diff > 9 ? "wrong" : "normal")">@item.lm_diff</span>
            </td>
            <td>
                <span class="@(item.jl_diff == 0 ? "bullseye" : "normal") @(item.jl_diff > 9 ? "wrong" : "normal")">@item.jl_diff</span>
            </td>
            <td>
                <span class="@(item.dd_diff == 0 ? "bullseye" : "normal") @(item.dd_diff > 9 ? "wrong" : "normal")">@item.dd_diff</span>
            </td>
        </tr>
    }
    <tr style="background-color:peachpuff">
        <td></td>
        <td></td>
        <td>@Model.predictions_table.Sum(i=>i.ss_diff)</td>
        <td>@Model.predictions_table.Sum(i=>i.lm_diff)</td>
        <td>@Model.predictions_table.Sum(i=>i.jl_diff)</td>
        <td>@Model.predictions_table.Sum(i=>i.dd_diff)</td>
    </tr>
</table>